<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="col-md-6 mb-4">
  
        <div class="form-outline">
          <input type="text"  class="form-control form-control-lg" formControlName="description"  name="description" id="description" placeholder="" ngModel/>
          <label class="form-label" for="description">username</label>
        </div>

      </div>
      <div class="col-md-6 mb-4">
  
        <div class="form-outline">
          <input type="text"  class="form-control form-control-lg" formControlName="description"  name="description" id="description" placeholder="" ngModel/>
          <label class="form-label" for="description">password</label>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>